<section>

  <div layout="column" layout-gt-xs="row">
    <div flex-gt-xs="75" flex="100">

      <h1>About</h1>

      <p>b. 1974. Lives and works in Kent, UK.</p>

      <h2>Education</h2>
      <p>
        Coventry University, BA(Hons) Graphic Design, 1996<br>
        Coventry University, Foundation Diploma in Art, 1993
      </p>

      <h2>Exhibitions</h2>
      <dl>
        <dt>2014</dt>
        <dd>
          Fairfax Gallery, Tunbridge Wells, UK<br>
          <em>Figure</em> Cameron Contempory, Hove, UK
        </dd>
        <dt>2011</dt>
        <dd>
          <em>Seeing is Believing</em> – London, UK<br>
          Brighton Art Fair – Brighton, UK<br>
          Artist Open Houses – Brighton, UK
        </dd>
        <dt>2010</dt>
        <dd>
          Brighton Art Fair – Brighton, UK<br>
          Artist Open Houses – Hove, UK
        </dd>
        <dt>2009</dt>
        <dd>
          <em>Boxers</em> – Hove, UK
        </dd>
        <dt>2008</dt>
        <dd>
          Wall Space Gallery, Ottawa, ONT<br>
          <em>Figures &amp; Portraits</em> – Ottawa, ONT<br>
          Art In The Park – Ottawa, ONT
        </dd>
      </dl>

      <h2>Collections</h2>
      <p>
        Standard Chartered Bank, London, UK<br>
        Carroll Financial Associates, Charlotte, NC
      </p>

    </div>
  </div>

</section>
