<section class="detail" style="background-color:rgba({{item.rgb}},1)" ng-swipe-right="getPrev(prevItem)" ng-swipe-left="getNext(nextItem)">

    <div ng-click="getPrev(prevItem)" class="control prev">
        <button class="btn-icon">
            <svg viewBox="0 0 24 24"><use xlink:href="svg/icons.svg#left" /></svg>
            <div class="thumb"><img ng-src="images/{{prev.url}}.jpg" alt="{{prev.title}}"></div>
            <span style="background-color:rgba({{prev.rgb}},1)">{{prev.title}}</span>
        </button>
    </div>
    <div ng-click="getNext(nextItem)" class="control next">
        <button class="btn-icon">
            <svg viewBox="0 0 24 24"><use xlink:href="svg/icons.svg#right" /></svg>
            <div class="thumb">
                <img ng-src="images/{{next.url}}.jpg" alt="{{next.title}}"></div>
                <span style="background-color:rgba({{next.rgb}},1)">{{next.title}}</span>
        </button>
    </div>

    <div class="card" ng-swipe-right="getPrev(prevItem)" ng-swipe-left="getNext(nextItem)">
        <div class="img">
            <div class="spinner"></div>
            <img ng-src="images/{{item.url}}-detail.jpg" alt="{{item.title}}" onload="imgLoaded(this)">
        </div>

        <div class="info">
            <h1 ng-bind="item.title"></h1>
            <p class="tags" ng-bind="'' + item.details"></p>
            <p ng-bind="item.text"></p>
            <p class="end">
                <button ng-click="goUrl(item.link)" ng-hide="item.link == ''" class="btn-text">
                    <svg viewBox="0 0 24 24"><use xlink:href="svg/icons.svg#link" /></svg>
                    <span>{{item.link.substr(item.link.indexOf('://')+3)}}</span>
                </button>
            </p>
        </div>
    </div>

</section>