<section class="home">

    <div class="bar top">
        <button class="btn-icon" aria-label="info" ng-click="page.setDirection('down'); goPath('/info');">
            <svg viewBox="0 0 24 24"><use xlink:href="svg/icons.svg#info" /></svg>
            <span>Information</span>
        </button>
    </div>

    <div class="intro">
        <div class="icon">
            <svg viewBox="0 0 24 24"><use xlink:href="svg/icons.svg#mspider" /></svg>
        </div>
        <h1 class="logotype" title="Midaspider">
            <svg viewBox="0 0 300 26"><use xlink:href="svg/icons.svg#midaspider" /></svg>
        </h1>
        <h2 class="lead">web &amp; UI design</h2>
    </div>

    <div class="bar bottom">
        <button class="btn-icon" aria-label="portfolio" ng-click="page.setDirection('up'); goPath('/portfolio');">
            <svg viewBox="0 0 24 24"><use xlink:href="svg/icons.svg#portfolio" /></svg>
            <span>Portfolio</span>
        </button>
    </div>

</section>
