<section ng-controller="subscribeFormCtrl">

    <form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl">

      <md-content>
        <div class="md-dialog-content">

          <div ng-hide="mailchimp.result === 'success'">

            <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='andybeck'">
            <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us12'">
            <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='7aa8ae5842b9264376360647d'">
            <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='d5112f425b'">

            <h2 class="md-title">Subscribe for news &amp; exhibitions</h2>

            <input ng-model="mailchimp.FNAME" type="text" name="fname" ng-maxlength="50" placeholder="first">
            <input ng-model="mailchimp.LNAME" type="text" name="lname" ng-maxlength="50" placeholder="last">

            <md-input-container class="md-block">
              <label>Name</label>
              <input ng-model="mailchimp.NAME" type="text" ng-maxlength="100" ng-change="change()">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Email (required)</label>
              <input ng-model="mailchimp.EMAIL" type="email" name="email" md-required="true" md-minlength="7" ng-maxlength="100" ng-pattern="/^.+@.+\..+$/" />
              <div ng-messages="MailchimpSubscriptionForm.EMAIL.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Your email must be between 7 and 100 characters long and look like an e-mail address.
                </div>
              </div>
            </md-input-container>

          </div>

          <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
          <div ng-show="mailchimp.result === 'error'" ng-cloak>
            <span ng-bind-html="mailchimp.errorMessage"></span>
          </div>

          <!-- Show success message if MailChimp returned successfully. -->
          <div ng-show="mailchimp.result === 'success'" ng-cloak>
            <span ng-bind-html="mailchimp.successMessage"></span>
          </div>

        </div>

        <md-button ng-click="closeDialog()">
          Cancel
        </md-button>
        <md-button class="md-raised" ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)">
          Join
        </md-button>
      </md-content>

    </form>

  <br />
  <div class="artwork-image">
    <div class="spinner"></div>
    <img src="http://placehold.it/1000x750/ddd/fff?text=HOME+PAGE" alt="Home" title="Home" onload="imgLoaded(this)"/>
  </div>
  
</section>
