<div style="clear:both; margin: 1em">
  <input type="button" value="Clear" ng-click="clear()">
  <input type="button" value="Get Latest Prices" ng-click="getLatestPrices()"> (from <a href="http://finance.yahoo.com/" target="_blank">Yahoo! Finance</a>)
</div>

<table class="StatisticsTable">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Target Allocation, %</th>
                        <th>Your Allocation, %</th>
                        <th>Amount</th>
                        <th style="background-color:lawngreen">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in stocks">
                        <td style="padding:0;">
                            <input type="text" style="background-color:lightgoldenrodyellow" class="DockFill" ng-model="x.Symbol" />
                        </td>
                        <td style="padding:0">
                            <input type="number" style="background-color:lightgoldenrodyellow; text-align:right;" class="DockFill" ng-model="x.Quantity" />
                        </td>
                        <td style="padding:0">
                            <input type="number" style="background-color:lightgoldenrodyellow;text-align:right;" class="DockFill" ng-model="x.Price" />
                        </td>
                        <td style="padding:0">
                            <input type="number" min="0" max="100" style="background-color:lightgoldenrodyellow;text-align:right;" class="DockFill" ng-model="x.Target" />
                        </td>
                        <td style="text-align:right">{{ x.Quantity * x.Price / getTotal() * 100 | number : 0 }}%</td>
                        <td style="text-align:right">{{ x.Quantity * x.Price | currency }}</td>
                        <td style="white-space: nowrap; background-color:lawngreen">
                            {{ getAction(x) }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td style="text-align:right">{{ getTotalAllocation() | number }}%</td>
                        <td></td>
                        <td style="text-align:right">{{ getTotal() | currency }}</td>
                        <td></td>
                    </tr>
                </tfoot>               
            </table>
