<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
  <title data-ng-bind="page.title"></title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="/css/theme.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="http://cdn.rawgit.com/keithio/angular-mailchimp/master/angular-mailchimp.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
</head>
<body>
   <div class="wrap">
      <div class="container">
         <div layout="column" layout-gt-xs="row">
            <div class="col_sidebar" flex-gt-xs="25" flex="100">
               <nav ng-controller="NavCtrl" class="navbar" role="navigation">
                  <div class="navbar_header">
                     <md-button class="navbar_toggle" ng-click="navShow = !navShow">
                        <label class="navbar_label">MENU</label>
                        <span class="icon_bar"></span>
                     </md-button>
                     <a class="navbar_brand" href="#/">
                        Andy Beck
                     </a>
                  </div>
                  <ul class="navbar_nav slide" ng-hide="navShow">
                     <li class="navbar_heading">
                        <md-button ng-click="page.subNavShow = !page.subNavShow">Gallery<span class="chevron"></span></md-button>
                        <ul class="slide" ng-show="page.subNavShow">
                           <li ng-repeat="category in categories" ng-class="getClass('/gallery/{{category | lowercase}}')"><md-button ng-href="#/gallery/{{category | lowercase}}">{{category}}</md-button></li>
                        </ul>
                     </li>
                     <li ng-class="getClass('/about')"><md-button ng-href="#/about">About</md-button></li>
                     <li ng-class="getClass('/news')"><md-button ng-href="#/news">News</md-button></li>
                     <li ng-class="getClass('/contact')"><md-button ng-href="#/contact">Contact</md-button></li>
                     <li ng-controller="subscribeCtrl" id="subscribe"><md-button ng-click="subscribe($event)" md-ripple-size="partial">Subscribe</md-button></li>
                     <li ng-controller="SocialCtrl" class="social" layout="row" layout-align-xs="space-around">
                        <md-button aria-label="follow on twitter" ng-click="socialUrl('https://twitter.com/@andynbeck')">
                           <md-tooltip md-direction="bottom">follow on twitter</md-tooltip>
                           <md-icon><svg viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg></md-icon>
                        </md-button>
                        <md-button aria-label="facebook page" ng-click="socialUrl('https://www.facebook.com/AndyBeckArt')">
                           <md-tooltip md-direction="bottom">facebook page</md-tooltip>
                           <md-icon><svg viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg></md-icon>
                        </md-button>
                        <md-button aria-label="follow on instagram" ng-click="socialUrl('http://www.instagram.com/andybeckartist')" flex-lt-sm="33">
                           <md-tooltip md-direction="bottom">follow on instagram</md-tooltip>
                           <md-icon><svg viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg></md-icon>
                        </md-button>
                     </li>
                  </ul>
               </nav>
            </div>
            <div class="col_main" ng-class="page.direction" flex-gt-xs="75" flex="100">
               <div ng-view class="view"></div>
            </div>
         </div>
      </div>
   </div>
   <footer class="footer">
      <div class="container">
         <p ng-controller="FooterCtrl" ng-bind-html="footer"></p>
      </div>
   </footer>
   <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="facebook" viewBox="0 0 24 24">
         <path d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
      </symbol>
      <symbol id="twitter" viewBox="0 0 24 24">
         <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
      </symbol>
      <symbol id="instagram" viewBox="0 0 24 24">
         <path d="M20,6.5A0.5,0.5 0 0,1 19.5,7H17.5A0.5,0.5 0 0,1 17,6.5V4.5A0.5,0.5 0 0,1 17.5,4H19.5A0.5,0.5 0 0,1 20,4.5M4.5,20A0.5,0.5 0 0,1 4,19.5V11H6.09C6.03,11.32 6,11.66 6,12A6,6 0 0,0 12,18A6,6 0 0,0 18,12C18,11.66 17.96,11.32 17.91,11H20V19.5A0.5,0.5 0 0,1 19.5,20M12,8A4,4 0 0,1 16,12A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8M20,2H4C2.89,2 2,2.89 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
      </symbol>
      <symbol id="pinterest" viewBox="0 0 24 24">
         <path d="M11.9 0C5.3 0 0 5.3 0 11.9c0 4.9 2.9 9 7.1 10.9 0-0.8 0-1.8 0.2-2.7 0.2-1 1.5-6.5 1.5-6.5s-0.4-0.8-0.4-1.9c0-1.8 1-3.1 2.3-3.1 1.1 0 1.6 0.8 1.6 1.8 0 1.1-0.7 2.7-1 4.2 -0.3 1.3 0.7 2.3 1.9 2.3 2.3 0 3.8-2.9 3.8-6.3 0-2.6-1.8-4.5-4.9-4.5 -3.6 0-5.8 2.7-5.8 5.7 0 1 0.3 1.8 0.8 2.3 0.2 0.3 0.3 0.4 0.2 0.7 -0.1 0.2-0.2 0.7-0.2 1C7 16 6.8 16.1 6.5 16c-1.7-0.7-2.4-2.5-2.4-4.5 0-3.4 2.8-7.4 8.5-7.4C17 4.2 20 7.5 20 11c0 4.7-2.6 8.1-6.4 8.1 -1.3 0-2.5-0.7-2.9-1.5 0 0-0.7 2.7-0.8 3.3 -0.3 0.9-0.7 1.8-1.2 2.5 1.1 0.3 2.2 0.5 3.4 0.5C18.7 23.8 24 18.5 24 12 23.7 5.3 18.4 0 11.9 0z" />
      </symbol>
      <symbol id="share" viewBox="0 0 24 24">
         <path d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z" />
      </symbol>
   </svg>
</body>
</html>
